<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: menu">
    {menu}
</div>
<div class="container">
    <div class="row">
        <div th:replace="fragments/header :: sidebar">
            {sidebar}
        </div>
        <!-- page content -->
        <div layout:fragment="content" class="col-md-9 col-sm-10 col-10 content">
            {content}
        </div>
    </div>
    <!--  footer -->
    <div th:replace="fragments/footer :: footer">
        {footer}
    </div> <!-- //footer -->
</div> <!-- //container-fluid -->
</body>
</html>