<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'dataGrid' "></title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>


<div class="col-md-3 col-sm-2 col-2 side" th:fragment="sidebar">

    <h3>Gochyou</h3>


    <a href="/messages">Messages</a> <br>
    <a href="/people">People nearby</a> <br>

    <a href="/logout">logout</a>



</div>



</body>
</html>