<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/frontend">
<body>
<div id="page" layout:fragment="content">


    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>


    <p th:text="#{menu.home}">Welcome to our grocery store!</p>


    <h3>Connect to Facebook</h3>
    <form th:action="@{/signin/facebook}"  method="POST">
        <input type="hidden" name="scope" value="email,public_profile,user_friends" />
        <p><input type="submit" class="btn btn-primary btn-lg" id="fbconnect" value="Sign in via Facebook"/></p>
    </form>


    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>


    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>



    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>


    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>



    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>



    <h3>Navbar example</h3>
    <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>

</div>
</body>
</html>



